{{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div>
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>

    <div>
        {{ form_label(form.place) }}
        {{ form_errors(form.place) }}
        {{ form_widget(form.place) }}
    </div>

    <div>
        {{ form_label(form.plannedAt) }}
        {{ form_errors(form.plannedAt) }}
        {{ form_widget(form.plannedAt) }}
    </div>

    <div>
        {{ form_label(form.tags) }}
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags) }}
    </div>

    <div>
        {{ form_label(form.link) }}
        {{ form_errors(form.link) }}
        {{ form_widget(form.link) }}
    </div>

    <input type='submit'>
{{ form_end(form) }}
