{% extends '::base.html.twig' %}

{% block body %}

    <div id="flash-message-container">
        {{ render_hinclude(controller('akeneo_frontoffice.controller.homepage:flashAction')) }}
    </div>

    <header id="overview">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img id="overview-logo" src="{{ asset('bundles/akeneofrontoffice/images/logo.png') }}"/>
                </div>
                <div class="col-sm-8">
                    <p class="lead">
                        <em>
                            TRIBES is a worldwide service allowing Akeneo Community members to meet others nearby during casual gatherings. This is an excellent opportunity to exchange views on technical issues, functional features and more!
                        </em>
                    </p>
                </div>
            </div>
        </div>
    </header>

    <a id="create_event_btn" class="btn btn-primary btn-circle btn-lg">
        <i class="glyphicon glyphicon-plus"></i>
    </a>

    <div id="map" class="z-depth-1"></div>
    <br />
    <div class="container">
        <div class="row">

            <form id="form_filter" class="form-inline" style="position:absolute;left:50%;top:780px;z-index:100;margin-left:-200px;">

                <div class="form-group">
                    <input type="text" placeholder="Everywhere" name="filter_location" class="geolocate form-control" data-longitude-selector="#filter_longitude" data-latitude-selector="#filter_latitude" />
                </div>
                <div class="form-group">

                    <div class="input-group" role="group">
                        <input type="datetime" id="filter_date" class="datetimepicker form-control" name="filter_date" placeholder="Anytime" />
                        <span class="input-group-btn">
                            <input class="btn btn-primary" type="submit" value="Go !"/>
                        </span>
                    </div>
                </div>

                <input type="hidden" id="filter_longitude" name="filter_longitude"/>
                <input type="hidden" id="filter_latitude" name="filter_longitude"/>

            </form>

        </div>

        <hr />

        <div class="row">
            <h2 class="text-center">Subscribe to the next events</h2>

            <p class="text-center lead">
                You want to keep in touch with the community ?<br />
                Subscribe to an alert and you will receive an email anytime an event is planned!
            </p>

            {{ render_hinclude(controller('akeneo_frontoffice.controller.homepage:subscribeAction')) }}
        </div>

        <hr />

        <div>
            <h2 class="text-center">Plan your event</h2>

            <p class="text-center lead">
                You want to meet some Akeneo community ?<br />
                Plan an event now and the community will get to you!
            </p>

            {{ render_hinclude(controller('akeneo_frontoffice.controller.homepage:eventAction')) }}
        </div>

        <hr />

    </div>

    <footer id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    &copy; Akeneo 2015 - <a href="/terms-of-use">Terms of use</a> - <a href="/privacy-policy">Privacy Policy</a> - <a href="/credits">Credits</a>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    <script src="http://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&sensor=false&libraries=places"></script>
{% endblock %}
