{% extends '::base.html.twig' %}

{% block body %}

    <header id="overview">
        <div class="container">
            <img src="{{ asset('bundles/akeneofrontoffice/images/logo-1.png') }}" />
        </div>
    </header>

    <a id="create_event_btn" class="btn btn-default btn-circle btn-lg">
        <i class="glyphicon glyphicon-plus"></i>
    </a>

    <div id="map" class="z-depth-1"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    <input type="text" class="form-control" placeholder="Search for..." />
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." />
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

        <div id="add_event_form">
            {{ form_start(form, {'attr':{'class':'col s6'}}) }}
            <div class="row">
                <div class="col-xs-6">
                    {{ form_errors(form) }}
                    {{ form_row(form.user) }}
                    {{ form_row(form.place) }}
                </div>
                <div class="col-xs-6">
                    {{ form_row(form.plannedAt) }}
                    {{ form_row(form.tags, {attr: {class: "select2"}}) }}
                    {{ form_row(form.link) }}
                    <button type="submit" class="btn btn-primary">
                        Send
                    </button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="http://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&sensor=false&libraries=places"></script>
{% endblock %}
