{% extends '::base.html.twig' %}

{% block body %}

    <div id="flash-message-container">
        {% for group, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ group }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <header id="overview">
        <div class="container">
            <img src="{{ asset('bundles/akeneofrontoffice/images/logo.png') }}"/>
        </div>
    </header>

    <a id="create_event_btn" class="btn btn-default btn-circle btn-lg">
        <i class="glyphicon glyphicon-plus"></i>
    </a>

    <div id="map" class="z-depth-1"></div>
    <br />
    <div class="container">
        <div class="row">
            <div style="text-align:center;position:absolute;left:50%;top:830px;z-index:100;margin-left:-300px;">
                <form class="form-inline" id="form_filter">
                    <div class="input-group input-group-lg">
                        <div class="form-group">
                            <input type="text" id="autocomplete" placeholder="Everywhere" onFocus="geolocate()"
                                   name="filter_location" class="form-control">
                            <input type="datetime" id="filter_date" class="datetimepicker form-control" name="filter_date" placeholder="Anytime"/>
                            <span class="input-group-btn">
                             <input class="btn btn-default" type="submit"/>
                            </span>
                        </div>
                        <input type="hidden" id="filter_longitude" name="filter_longitude"/>
                        <input type="hidden" id="filter_latitude" name="filter_longitude"/>
                    </div>
                </form>
            </div>
        </div>

        <hr />

        <div id="add_event_form">
            <h3>Plan your event</h3>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-xs-6">
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.place, {'attr': {
                        'class': 'geolocate',
                        'data-latitude-selector': '#add_event_latitude',
                        'data-longitude-selector': '#add_event_longitude'
                    }}) }}
                </div>
                <div class="col-xs-6">
                    {{ form_row(form.plannedAt, {'attr': {
                        'class': 'datetimepicker'
                    }}) }}
                    {{ form_row(form.tags, {attr: {class: "select2"}}) }}
                    {{ form_row(form.link) }}
                    {{ form_row(form.latitude) }}
                    {{ form_row(form.longitude) }}
                    <button type="submit" class="btn btn-primary">
                        Send
                    </button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="http://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&sensor=false&libraries=places"></script>
{% endblock %}
